@page
@model Shows4All.Pages.Checkout.SerieInfoModel
@{
    ViewData["Title"] = "Serie Details";
}

<!--  Comentário, Não tenho estas teclas no computador:
<
>
<div></div>
<br>
-->

<div class="container">
    <h1>@Model.SerieAtual.SerieName</h1>
    <img src="~/images/@(Model.SerieAtual.imageURL).jpg" class="img-fluid" style="max-width: 240px;" alt="@Model.SerieAtual.SerieName" />
    <p>Description: @Model.SerieAtual.Description</p>
    <p>Price: @Model.SerieAtual.Price €</p>

    @{
        bool hasExistingReview = Model.avaliacaoPassada != null;
    }

    <h2>Review:</h2>
    @if (hasExistingReview)
    {
        <div class="existing-review">
            <p>" @Model.avaliacaoPassada.AvaliacaoTexto "</p>
        </div>
    }
    else
    {
        <form method="post">
            <!-- Save the ID's in this View so you know the information to make the Post on the ViewModel -->
            <input type="hidden" name="clientID" value="@Model.ClienteAtual.Id" />
            <input type="hidden" name="seriesId" value="@Model.SerieAtual.Id" />

            <div class="form-group">
                <label for="novaAvaliacao.AvaliacaoTexto">Escreve aqui a tua avaliação :</label>
                <input type="text" asp-for="novaAvaliacao.AvaliacaoTexto" placeholder="Adiciona um texto à tua avaliação">
                <br />
            </div>
            <button type="submit" class="btn btn-primary">Submit Review</button>
        </form>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }


</div>