@page
@model Shows4All.Pages.MainScreenClient
@{
}

<!--  Comentário, Não tenho estas teclas no computador:
<
>
<div></div>
<br>
-->



<div class="text-center">

    <div class="mainText">
        <h1 class="display-4">Bem-Vindo ao Shows4All @Model.ClienteModelAtual.Username!</h1>
        <h3> Continua a ver as tuas séries!  </h3>
        <div class="container">
            <div class= "row">
                <div class="col-12 mb-5 mt-5">
                    <!--  Comentário: Usando o boostrap usamos a default class "containter"
                                      Usamos col-3, porque no boostrap o website é devidido em 12 "espaços"
                                            e queremos ter 4 series displayed.
                                      mb = Margin e  mt = Margin -->
                    <div class=" w-100 row makeYourOwnDiv">
                        @foreach (var serie in Model.seriesDoCliente)
                        {
                            var imagePath = "/images/" + (serie.imageURL + ".jpg");
                            <div class="col-3">
                                <!-- Make the image clickable and link to the SerieInfo page with SerieId and ClientID-->
                                <a class="hover-scale" asp-page="Checkout/SerieInfo" asp-route-seriesId="@serie.Id" asp-route-clientID="@Model.ClienteModelAtual.Id">
                                    <img src="@imagePath" class="img-fluid" style="max-width: 100%; height: auto;" alt="@serie.SerieName">

                                </a>
                                <h3> @serie.SerieName  </h3>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3> Compra uma nova série!  </h3>
        <div class="col-12 mb-5 mt-5">
            <!--  Comentário: Usando o boostrap usamos a default class "containter"
                                Usamos col-3, porque no boostrap o website é devidido em 12 "espaços"
                                    e queremos ter 4 series displayed.
                                mb = Margin e  mt = Margin -->
            <div class=" w-100 row makeYourOwnDiv">

                    @foreach (var serie in Model.todasAsSeriesNaoCompradasPeloCliente)
                    {
                        var imagePath = "/images/" + (serie.imageURL + ".jpg");
                        <div class="col-3">
                        <!-- Make the image clickable and link to the SerieInfo page with SerieId and ClientID-->
                        <a class="hover-scale" asp-page="SerieBuy" asp-route-seriesId="@serie.Id" asp-route-clientID="@Model.ClienteModelAtual.Id">
                            <img src="@imagePath" class="img-fluid" style="max-width: 100%; height: auto;" alt="@serie.SerieName">
                        </a>
                        <h3> @serie.SerieName  </h3>
                        </div>
                    }

            </div>
        </div>
</div>
